.idea/*
Authentication.py
First Serious Try/*
First build/*
LaTeX manuals/*
Submission links/*
*sqlite
assembly/*
__pycache__/*
Wiki_pages_raw/*
*txt
scripts uteis, antigos/*
Scripts não usados/*
Posts and links/*
testeDB/*
*csv
fonts/*
*7z
Successful LaTeX tests/*
*db*
